<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
	<th:block th:replace="~{fragments/fragments :: head}"></th:block>
	<title>New Ticket</title>
</head>

<body class="bg-primary-subtle">
	<nav th:replace="~{fragments/navbar :: navbar('edit')}"></nav>
	<!--header-->
	<header class="row justify-content-center mb-5">
		<div class="col-lg-6 text-center">
			<h2>Ask ACME!</h2>
		</div>
	</header>
	<!--main-->
	<main class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8">
				<!--form-->
				<form method="post" th:object="${ticket}" th:action="@{/tickets/edit/{id} (id=${ticket.id})}">

					<!--tiket-title-->
					<div class="mb-3">
						<label for="title" class="form-label">Title</label>
						<input type="text" class="form-control" id="title" th:field="*{title}"
							th:errorClass="is-invalid">
						<!-- title errors-->
						<div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
							<ul>
								<li th:each="err: ${#fields.errors('title')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>

					<!--tiket-content-->
					<div class="mb-3">
						<label for="content" class="form-label">Describe the request</label>
						<textarea class="form-control" id="content" rows="5" th:field="*{content}"
							th:errorclass="is-invalid"></textarea>
						<!-- content errors-->
						<div th:if="${#fields.hasErrors('content')}" class="invalid-feedback">
							<ul>
								<li th:each="err: ${#fields.errors('content')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>

					<!--select section-->
					<div class="row mb-3 gy-2">

						<!--ticket-priority-->
						<div class="col-12 col-md-4">
							<select class="form-select" aria-label="priority select" th:field="*{priority}"
								id="category" th:errorclass="is-invalid">
								<option selected value="">Select Priority</option>
								<option value="low">Low</option>
								<option value="medium">Medium</option>
								<option value="high">High</option>
							</select>
							<!-- priority errors-->
							<div th:if="${#fields.hasErrors('priority')}" class="invalid-feedback">
								<ul>
									<li th:each="err: ${#fields.errors('priority')}" th:text="${err}"></li>
								</ul>
							</div>
						</div>

						<!--ticket-user-->
						<div class="col-12 col-md-4">
							<select class="form-select text-capitalize" aria-label="user select" th:field="*{user}"
								id="user" th:errorclass="is-invalid">
								<option value="">Select Operator</option>
								<th:block th:if="${availableUsers.size>0}">
									<option th:each="user : ${availableUsers}" th:value="${user.id}">
										[[${user.name}]] [[${user.lastname}]]</option>
								</th:block>
								<th:block th:unless="${availableUsers.size>0}">
									<option th:value="*{user.id}">
										[[*{user.name}]] [[*{user.lastname}]]</option>
								</th:block>
							</select>
							<!-- user errors-->
							<div th:if="${#fields.hasErrors('user')}" class="invalid-feedback">
								<ul>
									<li th:each="err: ${#fields.errors('user')}" th:text="${err}"></li>
								</ul>
							</div>
						</div>


						<!--ticket-status-->
						<div class="col-12 col-md-4">
							<select class="form-select" aria-label="status select" th:field="*{status}" id="status"
								th:errorclass="is-invalid">n>
								<option selected value="">Select Status</option>
								<option th:each="state : ${status}" th:value="${state.id}">
									[[${state.name}]]</option>
							</select>
							<!-- status errors-->
							<div th:if="${#fields.hasErrors('status')}" class="invalid-feedback">
								<ul>
									<li th:each="err: ${#fields.errors('status')}" th:text="${err}"></li>
								</ul>
							</div>
						</div>
					</div>
					<!--ticket category-->
					<div class="col-12 mb-4">
						<ul class="list-group" name="categories" id="categories" th:errorclass="is-invalid">
							<li class="list-group-item" th:each="category : ${categories}">
								<input class="form-check-input me-1" type="checkbox" th:field="*{categories}"
									th:value="${category.id}" th:id=|check-${category.id}|>
								<label class="form-check-label stretched-link"
									th:for=|check-${category.id}|>[[${category.name}]]</label>
							</li>
						</ul>
						<!--category errors-->
						<ul th:if="${#fields.hasErrors('categories')}" class="invalid-feedback">
							<li th:each="err: ${#fields.errors('categories')}" th:text="${err}"></li>
						</ul>
					</div>


					<!--buttons section-->

					<div class="d-flex justify-content-end">
						<button class="btn btn-orange mx-2 border border-1 border-light" type="submit">Submit</button>
						<button class="btn btn-secondary mx-2 border border-1 border-light" type="reset">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</main>
	<script th:replace="~{fragments/fragments :: scripts}"></script>
</body>

</html>