<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
	<th:block th:replace="~{fragments/fragments :: head}">
	</th:block>
	<title>ACME Support</title>
</head>

<body class="bg-primary-subtle">
	<th:block th:replace="~{fragments/navbar :: navbar('tickets')}"></th:block>

	<main class="container">
		<h1 class="my-5 orange-text">ACME Support</h1>
		<div sec:authorize="hasAuthority('ADMIN')" class="d-flex justify-content-end">
			<button class="btn btn-primary mb-3 border border-1 border-light me-3">
				<a class="text-reset text-decoration-none" th:href="@{tickets/create}">New Ticket</a>
			</button>
		</div>
		<!--redirect messages-->
		<!--green alert-->
		<th:block th:if="${succesMessage != null}">
			<th:block th:replace="~{fragments/alerts :: success-alert(${successMessage})}"></th:block>
		</th:block>
		<!--red alert-->
		<th:block th:if="${dangerMessage != null}">
			<th:block th:replace="~{fragments/alerts :: danger-alert(${dangerMessage})}"></th:block>
		</th:block>
		<!--tickets table-->
		<table th:if="${tickets.size()>0}" class="table table-striped">
			<thead>
				<th>ID</th>
				<th>Priority</th>
				<th>Title</th>
				<th>Status</th>
				<th>Categories</th>
				<th>User</th>
				<th>Creation Date</th>
				<th>Last Update</th>
				<th class="text-center">Actions</th>
			</thead>
			<tbody>
				<tr th:each="ticket : ${tickets}">
					<td>[[${ticket.id}]]</td>
					<td>[[${ticket.priority}]]</td>
					<td>
						[[${ticket.title}]]
					</td>
					<td>[[${ticket.status.name}]]</td>
					<td>
						<ul>
						  <li th:each="category : ${ticket.categories}">[[${category.name}]]</li>
						</ul>
					</td>
					<td class="text-capitalize">[[${ticket.user.name}]] [[${ticket.user.lastname}]]</td>
					<td>[[${ticket.formattedCreatedAt}]]</td>
					<td>[[${ticket.formattedUpdatedAt}]]</td>
					<td class="text-center">
						<button class="btn btn-success border border-1 border-light btn-sm" th:href>
							<a class="text-decoration-none text-reset" th:href="@{/tickets/show/{id}(id=${ticket.id})}">Details</a>
						</button>
						<button sec:authorize="hasAuthority('ADMIN')" class="btn btn-orange border border-1 border-light btn-sm">
							<a class="text-decoration-none text-reset"
								th:href="@{/tickets/edit/{id} (id=${ticket.id})}">Edit</a>
						</button>
						<!-- Button trigger modal -->
						<button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-danger border border-1 border-light btn-sm"
							data-bs-toggle="modal" data-bs-target="#deleteModal">
							Delete
						</button>

						<!-- Delete Modal -->
						<th:block th:replace="~{fragments/modals :: delete-modal}"></th:block>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:unless="${tickets.size()>0}">
			<h2 class="text-center">No Tickets</h2>
		</div>
	</main>
	<script th:replace="~{fragments/fragments :: scripts}"></script>
</body>

</html>