<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <th:block th:replace="~{fragments/fragments :: head}">
    </th:block>
    <title>ACME Support</title>
</head>

<body>
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

    <main class="container">
            <h1 class="my-5">ACME Support</h1>
            <button class="btn btn-primary d-flex justify-content-end">Open Ticket</button>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Status</th>
                <th>User</th>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td>[[${ticket.id}]]</td>
                    <td>[[${ticket.title}]]</td>
                    <td>status placeholder</td>
                    <td>[[${ticket.user.name}]]</td>
                </tr>
            </tbody>
        </table>




    </main>
    <script th:replace="~{fragments/fragments :: scripts}"></script>
</body>

</html>