<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
	<th:block th:replace="~{fragments/fragments :: head}">
	</th:block>
	<title>ACME Support</title>
</head>

<body class="bg-primary-subtle">
	<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

	<main class="container">
		<h1 class="my-5">ACME Support</h1>
		<button class="btn btn-primary mb-3">
			<a class="text-reset text-decoration-none" th:href="@{/create}">Open Ticket</a>
		</button>
		<table th:if="${tickets.size()>0}" class="table table-striped">
			<thead>
				<th>ID</th>
				<th>Priority</th>
				<th>Title</th>
				<th>Status</th>
				<th>User</th>
				<th>Creation Date</th>
				<th>Last Update</th>
			</thead>
			<tbody>
				<tr th:each="ticket : ${tickets}">
					<td>[[${ticket.id}]]</td>
					<td>[[${ticket.priority}]]</td>
					<td>
						<a th:href="@{/{id}(id=${ticket.id})}">[[${ticket.title}]]</a>
					</td>
					<td>status placeholder</td>
					<td>[[${ticket.user.name}]]</td>
					<td>[[${ticket.formattedCreatedAt}]]</td>
					<td>[[${ticket.formattedUpdatedAt}]]</td>
				</tr>
			</tbody>
		</table>

		<div th:unless="${tickets.size()>0}">
			<h2 class="text-center">No Tickets</h2>
		</div>
	</main>
	<script th:replace="~{fragments/fragments :: scripts}"></script>
</body>

</html>