<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <th:block th:fragment="navbar">
        <nav class="navbar orange-backgroud mb-5">
            <div class="container-fluid">
                <a class="navbar-brand text-primary">ACME</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary border border-1 border-light" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </th:block>
</body>

</html>