<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
	<th:block th:replace="~{fragments/fragments :: head}"></th:block>
	<title>New Ticket</title>
</head>

<body class="bg-primary-subtle">
	<nav th:replace="~{fragments/navbar :: navbar('edit')}"></nav>
	<!--header-->
	<header class="row justify-content-center mb-5">
		<div class="col-lg-6 text-center">
			<h2>Ask ACME!</h2>
		</div>
	</header>
	<!--main-->
	<main class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8">
				<!--form-->
				<form method="post" th:object="${currentUser}" th:action="@{/users/edit/{id} (id=${currentUser.id})}">
					<input type="hidden" th:field="*{id}" th:value="*{id}">
					<input type="hidden" th:field="*{active}" th:value="*{active}">
					<!--name and last name-->
					<div class="row mb-3 gy-2 light-blue-background">
						<div class="col-12 col-md-6">
							<div class="mb-3">
								<label for="name" class="form-label">Name</label>
								<input type="text" readonly class="form-control-plaintext text-capitalize" id="name"
									th:field="*{name}" th:errorClass="is-invalid">
								<!-- name errors-->
								<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
									<ul>
										<li th:each="err: ${#fields.errors('name')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="mb-3">
								<label for="lastname" class="form-label">Lastname</label>
								<input type="text" readonly  class="form-control-plaintext text-capitalize" id="lastname"
									th:field="*{lastname}" th:errorClass="is-invalid">
							</div>
						</div>
					</div>

					<!--username and e-mail-->
					<div class="row mb-3 gy-2 light-blue-background">
						<div class="col-12 col-md-6">
							<div class="mb-3">
								<label for="username" class="form-label">Username</label>
								<input type="text" readonly class="form-control-plaintext" id="username" th:field="*{username}"
									th:errorClass="is-invalid">
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="mb-3">
								<label for="email" class="form-label">e-mail</label>
								<input type="email" readonly class="form-control-plaintext" id="email" th:field="*{email}"
									th:errorClass="is-invalid">
							</div>
						</div>
					</div>

					<!--username and e-mail-->
					<div class="row mb-3 gy-2">
						<div class="col-12 col-md-6">
							<div class="mb-3">
								<label for="address" class="form-label">Address</label>
								<input type="text" class="form-control" id="address" th:field="*{address}">
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="mb-3">
								<label for="phone" class="form-label">Phone</label>
								<input type="tel" class="form-control" id="phone" th:field="*{phone}"
									th:errorClass="is-invalid">
							</div>
						</div>
					</div>

					<!--buttons section-->

					<div class="d-flex justify-content-end">
						<button class="btn btn-orange mx-2 border border-1 border-light" type="submit">Submit</button>
						<button class="btn btn-secondary mx-2 border border-1 border-light" type="reset">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</main>
	<script th:replace="~{fragments/fragments :: scripts}"></script>
</body>

</html>