<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
	<th:block th:replace="~{fragments/fragments :: head}">
	</th:block>
	<title>Personal Page</title>
</head>

<body class="bg-primary-subtle">

	<main class="container my-5">
		<div class="row justify-content-center mb-4">
			<div class="col-12 col-md-6">
				<h1 class="orange-text mb-5">ACME Company</h1>
				<h2 class="orange-text mb-4">Ops! Something went wrong!</h2>
				<div  class="mb-3 fs-5">
					<span class="fw-semibold">Status:</span>
					<span class="fw-semibold" th:text="${status}"></span>
					<span class="fst-italic" th:text="${error}"></span>
				</div>
				<p class="fs-4" th:text="${message}"></p>
				<div class="d-flex justify-content-end">
					<button class="btn btn-orange border border-light">
						<a th:href="@{/tickets}" class="text-reset text-decoration-none text-light">Go Back</a>
					</button>
				</div>
			</div>	
		</div>
	</main>
	<script th:replace="~{fragments/fragments :: scripts}"></script>
</body>

</html>